<div id="signature-pad" class="signature-pad">
    <div class="signature-pad--body">
        <canvas></canvas>
    </div>
    <div class="signature-pad--footer">
        <div class="signature-pad--actions">
            <button type="button" class="button clear" data-action="clear">Очистить</button>
            <button type="submit" class="button save" data-action="save">Сохранить</button>
        </div>
    </div>
</div>
