{{> head}}
<body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Montserrat:ital@1&family=Roboto:wght@100;300&family=Rubik+Beastly&display=swap');

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1140px;
        width: 100%;
        margin: 100px auto 100px;
    }


</style>
{{>navbar}}
<div class="container">
    {{{body}}}
</div>
<script src="/js/signature_pad.umd.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
