{{> head}}
<body>
<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1140px;
        width: 100%;
        margin: 100px auto 100px;
    }

</style>

<div class="container">
    {{{body}}}
</div>
<script src="/js/signature_pad.umd.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
